/* More space at the bottom of the page */
.md-footer {
    margin-top: 1.5rem;
}

/* Hide main nav title */
@media (min-width: 1220px) {
    label[for="__drawer"] {
        display: none;
    }
    .md-nav__list > *:first-child {
        margin-top: 0;
    }
}

/* Change slate palette colors */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: hsla(var(--md-hue),10%,21%,1);
    --md-footer-bg-color: hsla(var(--md-hue), 10%, 12%, 0.87);
}

/* Icon margins */
.twemoji {
    margin: 0 0.5ch;
}

/* Icon colors */
.twemoji.github {
    color: black;
}
.twemoji.modrinth {
    color: #5da545;
}
