/* More space at the bottom of the page */
.md-footer {
    margin-top: 1.5rem;
}

/* Hide main nav title */
@media (min-width: 1220px) {
    label[for="__drawer"] {
        display: none;
    }
    .md-nav__list > *:first-child {
        margin-top: 0;
    }
}

/* Change slate palette colors */
[data-md-color-scheme="slate"] {
    --md-hue: 215;
    --md-default-bg-color: #2e3438;
    --md-footer-bg-color: #22272a;
}
